<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUGGATI</title>
    <link rel="stylesheet" href="homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <img src="images.png" alt="Lamborghini Logo">  
            </a>
                 
        </div>
        <nav>
            <ul>
                <li><a href="models/models.html">MODELS</a></li>
                <li><a href="dealer/dealer.html">DEALERSHIPS</a></li>
                <li><a href="dev-team/dev.html">DEV TEAM</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
    <main>
        <section class="hero">
            <video autoplay muted loop id="bg-video">
                <source src="bg.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <div class="hero-content">
                <h1>POUR L‘ÉTERNITÉ</h1>
                <h2>A concept becoming reality.
                  Embark on BUGATTI's new era 20.06.2024</h2>
            </div>
        </section>
        <section class="details">
            <p>Consumption and emission values of all vehicles promoted on this page*: Fuel consumption combined: 19,5-11,86 l/100km; Power consumption combined: 10,1 kWh/100 Km; CO2-emissions combined: 440-276 g/km; CO2 Efficiency class combined: G; Fuel consumption with discharged battery combined: 17,8 l/100km; CO2 efficiency class with discharged battery: G; Under approval, not available for sale: Urus SE; WLTP values.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Lamborghini</p>
    </footer>
    <script src="homepage.js"></script>
</body>
</html>
