<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugatti Car Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/images.png" alt="Bugatti Logo">
        </div>
        <nav>
            <ul>
                <li><a href="../homepage.html">HOME</a></li>
                <li><a href="../models/models.html">MODELS</a></li>
                <li><a href="../dealer/dealer.html">DEALERSHIP</a></li>
                <li><a href="../dev-team/dev.html">DEV TEAM</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="car-details">
            <div class="car-image">
                <img src="images/Download wallpapers Bugatti Divo, front view, hypercars, 2018 cars, studio, supercars, Bugatti for desktop free_ Pictures for desktop free.jpg" alt="Bugatti Chiron">
            </div>
            <div class="car-info">
                <h1>Bugatti Divo</h1>
                <p class="performance">Top Speed: 236 mph (380 km/h)</p>
                <p class="engine">Engine: 8.0 L Quad-Turbocharged W16</p>
                <p class="description">The Bugatti Divo is a mid-engine track-focused sports car developed and manufactured by Bugatti Automobiles S.A.S. The car is named after French racing driver Albert Divo, who raced for Bugatti in the 1920s winning the Targa Florio race twice. It was revealed on 24 August 2018 at “The Quail – A Motorsports Gathering“ in California, United States.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Bugatti</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
