<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugatti Car Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/images.png" alt="Bugatti Logo">
        </div>
        <nav>
            <ul>
                <li><a href="../homepage.html">HOME</a></li>
                <li><a href="../models/models.html">MODELS</a></li>
                <li><a href="../dealer/dealer.html">DEALERSHIP</a></li>
                <li><a href="../dev-team/dev.html">DEV TEAM</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="car-details">
            <div class="car-image">
                <img src="images/gt.jpg" alt="Bugatti Chiron">
            </div>
            <div class="car-info">
                <h1>Bugatti Vision Gran Turismo</h1>
                <p class="performance">Top Speed: 278 mph (447 km/h)</p>
                <p class="engine">Engine: 8.0 L Quad-Turbocharged W16</p>
                <p class="description">The Bugatti Vision Gran Turismo is a single-seater concept car developed by Bugatti and was manufactured in Molsheim, Alsace, France. The car was unveiled at the 2015 Frankfurt Motor Show, a month after its teaser trailer was released, which was titled #imaginEBugatti.[1] It was built under the Vision Gran Turismo project, and with its looks, influenced the Bugatti Chiron's design language. The color scheme of the car is based on the 1937 Le Mans-winning Bugatti Type 57G Tank racer.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Bugatti</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
